<!-- Movie Reviews -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Reviews</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
            <h4>Review Author 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Laudantium veniam exercitationem expedita laborum at voluptate. Labore,
                 voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
            <h4>Review Author 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Laudantium veniam exercitationem expedita laborum at voluptate. Labore,
                 voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
            <h4>Review Author 3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Laudantium veniam exercitationem expedita laborum at voluptate. Labore,
                 voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
            <h4>Review Author 4</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Laudantium veniam exercitationem expedita laborum at voluptate. Labore,
                 voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
            </p>
        </div>
    </div>
</div>