<div class="container">
<section id="home" name="home">
</section>
<section id="nowPlaying" name="nowPlaying">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Now Playing
                <!--<small>Secondary Text</small>-->
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <nmovie-list></nmovie-list>
    </div>
    <!-- /.row -->
</section>
<section id="upcoming" name="upcoming">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Upcoming
                <!--<small>Secondary Text</small>-->
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <umovie-list></umovie-list>
    </div>
    <!-- /.row -->
</section>
<section id="topRated" name="topRated">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Top Rated
                <!--<small>Secondary Text</small>-->
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <tmovie-list></tmovie-list>
    </div>
    <!-- /.row -->
</section>
<section id="popular" name="popular">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Popular
                <small>Secondary Text</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <pmovie-list></pmovie-list>
    </div>
    <!-- /.row -->
</section>
<!-- Pagination -->
<!--<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>-->
<!-- /.row -->
</div>