<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <form ng-submit="$ctrl.getImdbIdByTitle()">
            <h1 class="page-header">Search
                <input type="text" id="searchBox" ng-model="$ctrl.movieTitle" name="movieTitle" placeholder="By Movie Title">
                <button id="search-by-title-button submit" type="submit" class="btn btn-default btn-md">GO</button>
            </h1>
        </form>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <pre>res={{$ctrl.res}}</pre>
</div>
<!-- /.row -->

    <!--<form ng-submit="$ctrl.submit()">
        Enter text and hit enter:
        <input type="text" ng-model="$ctrl.text" name="text" />
        <input type="submit" id="submit" value="Submit" />
        
    </form>-->